* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #7C7C7C;
}

input {
    outline: none;
}